.list {
  /* list-style: none; */
  padding-left: 30px;
}

.item {
  /* display: flex;
  justify-content: space-between; */
  padding: 10px;
}

.item__container {
  display: flex;
  justify-content: space-between;
}

.item__btn {
  /* margin-left: 5px; */
  border-radius: 1em;
  border-color: tomato;
}
.item__btn:hover,
.item__btn:focus {
  background: rgb(255, 59, 59);
  /* border: none; */
  border-color: rgba(255, 59, 59, 0.884);
}
